* {
    box-sizing: border-box;
}

body {
    background-color: #05668D;
}

.card {
    background-color: #EBF2FA;
    border-radius: 1em;
}

.fa-solid {
    size: 4em;
    padding: 1em;
    color: white;
    margin-left: 2em;
}

a {
    color: white;
}

a:hover {
    color: #F2E86D;
}

.card-img-top {
    height: 180px;
    width: 180px;
}

.jumbotron {
    background-color: #F2E86D;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    border-style: solid;
}
.jumbotron h1 {
    font-family: 'Kirang Haerang', cursive;
}

footer {
    color: white;
    background-color: #05648A;
}

/*color palette 05668D, 427AA1, EBf2FA, F4E76E, F7FE72 */
